<footer>
    <div class="text-center bg-dark text-light">
        <p>Copyright &copy; Edishni, 2020<br>
            We <i class="fa fa-heart"></i> <a href="http://edishni.com">edishni.com </a>
        <span>   find me in social links: </span>
                  <a  href="https://facebook.com/edward.tchaevsky" title="Facebook page">
                    <i class="fab fa-facebook"></i>
                  </a>
            
                  <a  href="https://github.com/edishni" title="GitHub page">
                    <i class="fab fa-github"></i>
                  </a>
             
                  <a  href="http://linkedin.com/in/edwardtchaevsky" title="LinkedIn page">
                    <i class="fab fa-linkedin"></i>
                  </a>
      </p>
    </div>
</footer>
