<div #about id="about" class=" m-0 text-center {{appTheme.appChildTheme}} justify-content-center">
    <h1 id="titleabout"><b>ABOUT US</b></h1>
    <hr>
    <h4 > Some information about my college and course where I got ideas for displayed projects... </h4>
    <hr>
    <div class="row justify-content-center m-0">
      <div class="intcolledge col-sx-12 col-md-6">
        <h2>iNT Colledge</h2>
        <p>המכללה לחדשנות וטכנולוגיה iNT מזמינה אתכם לבחור כיוון חדש לחיים. במציאות בה מקצועות מסורתיים נעלמים ברגע, כולנו
          נדרשים "להמציא את עצמנו מחדש" – גם אם אין לנו רקע טכנולוגי. בשביל זה אנחנו כאן – משנת 2001 עם 18 שנות ניסיון
          ואלפי בוגרים המובילים היום את תעשיית ההייטק, צוות מרצים בכירים המגיעים "מהשטח", מגוון תכניות מתקדמות המתעדכנות
          באופן תמידי, שיתוף פעולה צמוד עם חברות ההייטק המובילות CISCO, Microsofr ועוד, ומרכז השמה הנמצא בקשר ישיר ורציף
          עם יחידת הגיוס של החברות השונות ושותפים עסקיים מובילים בתעשייה שדואג לבוגרים.<br>
  
          צוות המרצים שלנו מונה כ-80 אנשי מקצוע מהמובילים בתחום, המקומי והגלובלי, אנשים שחיים נושמים ועובדים בעולם ההיי-טק
          ויודעים לזהות וללמד את המקצועות הרלוונטיים ביותר לעולם הטכנולוגי הצומח והמשתנה.<br>
  
          אנו מבינים, שהעולם הטכנולוגי מתפתח בקצב מסחרר ושצריך לבנות כבר היום את המקצועות ואת הקריירה של מחר. מקצועות
          העתיד כבר כאן, סימנו, זיהינו ואנחנו מלמדים רבים מהם כבר עכשיו, ואת אלו שעדיין לא זיהינו… נעשה הכל עבורכם כדי
          לזהות, לסמן, ללמוד וללמד.<br>
  
          בנוסף, אנחנו…<br>
  
          זרועת ההכשרות הטכנולוגיות של קבוצת ההשכלה הגדולה ביותר באירופה Global university systems!
          מרכז הדרכה ושותפת זהב של Microsoft ו – CISCO
          מתמחים בהכשרות אישיות כמו גם בהכשרות מרובות משתתפים המותאמות לצרכי הארגון ומעניקות את הכלים המתקדמים ביותר.
          מחזיקים מחלקת השמת בוגרים המסייעת בהשתלבות בוגרי המכללה בשוק העבודה.</p><br>
          <hr>
          <a class=" btnLinks {{appTheme.appTheme}} {{appTheme.appBorderTheme}} rounded p-2" href="https://www.int-college.co.il/"><u><b> iNT College.</b></u></a>
      </div>
      <div class="course col-sx-12 col-md-5">
        <h2>.NET FullStack course</h2>
        <p><b>Front-End</b>
          המסלול מתחיל בטכנולוגיות צד-לקוח – יצירת ממשקים בסיסיים מעוצבים ודינאמיים.
          התכנים ילמדו ברמת בסיס עבור אלה המכירים ואלה שאינם מכירים והקורס יתמקד בשפות הפופולאריות ביותר כגון: HTML5,
          JavaScript.<br>
          <b>Back-End</b>
          לאחר מכן מתרכז המסלול בצד-השרת.
          בחלק זה נעבוד עם שתי סביבות ה-Back-End הפופולריות לפיתוח צד השרת: NODE JS ו PHP.
          גם נושא אחסון הנתונים נכלל בתפקידי השרת- במסגרת חלק זה נתמקד בעבודה עם מסד נתונים מובנה .MySQL</p>
        <small><b>תכנית לימודים:</b><br>
         <u>done and in progress :</u> <br>
          Introduction to Web / HTML & HTML5 / CSS & CSS3 / JavaScript / jQuery / <br>
          Google & Facebook APIs / Node.js / Bootstrap / 4React / Angular <br>
          <u>in soon :</u><br>
          PHP – Basics / PHP – More advanced topics / PHP & MySQL / C#– OOP / WordPress & WIX / NoSQL with MongoDB<br>
        </small>
        <hr>
    
        <a class="btnLinks {{appTheme.appTheme}} {{appTheme.appBorderTheme}} rounded p-2 mt-5" href="https://www.int-college.co.il/%D7%94%D7%A7%D7%95%D7%A8%D7%A1%D7%99%D7%9D-%D7%A9%D7%9C%D7%A0%D7%95/%D7%9E%D7%A4%D7%AA%D7%97-fullstack-%D7%94%D7%A7%D7%95%D7%A8%D7%A1%D7%99%D7%9D-%D7%A9%D7%9C%D7%A0%D7%95/web-applications-backend-frontend/?tag=%d7%aa%d7%9c-%d7%90%d7%91%d7%99%d7%91"><u><b>Web-FullStack course page</b></u></a>
      </div>
    </div>
  </div>
  