<div id="contpage">

    <div id="mycard" class="row text-center text-primary m-4 justify-content-center">
      <h1 class="col-12 "> About me and my contact info...<hr> </h1>
      <img id="myimg" class="col-sx-6 col-md-4 m-0" src="./assets/myPicture.jpg" 
        alt="Card image cap">
      <div class="col-sx-6 col-md-8 ">
        <h3 class="text-left ml-2">Edward Tchaevsky</h3>
        <address>
           Petah Tikva, <br>
          Israel,<br>
          Phone : +972-(0)522513805
        </address>
  
        <ul class="banner-social-buttons m-1">
          <li>
            <a href="https://github.com/edishni" class="btn btn-outline-dark btn-sm m-2" >GitHub <i
                class="fab fa-github-alt fa-fw"></i></a>
          </li>
          <li>
            <a href="https://www.facebook.com/edward.tchaevsky" class="btn btn-outline-primary btn-sm m-2">Facebook <i
                class="fab fa-facebook fa-fw"></i></a>
          </li>
  
          <li>
            <a href="https://linkedin.com/in/edwardtchaevsky" class="btn btn-outline-info btn-sm m-2">LinkedIn <i
                class="fab fa-linkedin fa-fw"></i></a>
          </li>
          <li>
            <a href="mailto:edward.tchaevsky@gmail.com" class="btn btn-outline-danger btn-sm m-2">Gmail <i
                class="fab fa-google fa-fw"></i> </a>
          </li>
        </ul>
        <br>
      
  </div>
    <div id="aboutme" class="col-sx-12">
        <hr>
             <p >On those days I am a student in iTN Colledge on WEB-FullStack course and work as Software Tester with experience of seven years in international high-tech companies.  I managing this web page for some targets, trying in web programming and design, manage archives of mine created projects and in the future also it maybe be used as my portfolio.</p> 
      </div>
    </div>
    <!--   <a href="#header" class="btn btn-primary animated">return</a> -->
  
  </div>
  