<div id="contpage">

  <div id="mycard" class="row m-4 text-center {{myTheme.appTheme}} justify-content-center">
    <h1 class="col-12 mt-3"> About me and my contact info...
      <hr>
    </h1>
    <div class="col-sx-6 col-md-4 p-2">
      <img id="myimg" src="./assets/myPicture.jpg" alt="Card image cap">
    </div>
    <div class="col-sx-6 col-md-7 ">
      <div class="block1">
        <h3 class="text-left ml-2">Edward Tchaevsky</h3>
        <address>
          Petah Tikva, <br>
          Israel,<br>
          Phone : +972-(0)522513805
        </address>

        <ul class="banner-social-buttons p-1">
          <li>
            <a href="https://github.com/edishni"
              class="socBtn {{myTheme.appChildTheme}} {{myTheme.appBorderTheme}} btn-sm ">GitHub <i
                class="fab fa-github-alt fa-fw"></i></a>
          </li>
          <li>
            <a href="https://www.facebook.com/edward.tchaevsky"
              class="socBtn {{myTheme.appChildTheme}} {{myTheme.appBorderTheme}} btn-sm">Facebook <i
                class="fab fa-facebook fa-fw"></i></a>
          </li>

          <li>
            <a href="https://linkedin.com/in/edwardtchaevsky"
              class="socBtn {{myTheme.appChildTheme}} {{myTheme.appBorderTheme}} btn-sm">LinkedIn <i
                class="fab fa-linkedin fa-fw"></i></a>
          </li>
          <li>
            <a href="mailto:edward.tchaevsky@gmail.com"
              class="socBtn {{myTheme.appChildTheme}} {{myTheme.appBorderTheme}} btn-sm">Gmail <i
                class="fab fa-google fa-fw"></i> </a>
          </li>
        </ul>
      </div>
      <br>
      <hr class="{{myTheme.appChildTheme}}">
      <div id="aboutme" class="block2 {{myTheme.appChildTheme}} rounded m-4">

        <p>On those days I am a student in iTN Colledge on WEB-FullStack course and work as Software Tester with
          experience of seven years in international high-tech companies. I managing this web page for some targets,
          trying in web programming and design, manage archives of mine created projects and in the future also it maybe
          be used as my portfolio.</p>
      </div>
    </div>

  </div>


</div>
