  <div id="mainnav" class="{{themes.appTheme}}" >
    <div id="mainp" class=" mb-4">
      <div class="mainNews row m-2 p-2 justify-content-center {{themes.appTheme}} {{themes.appBorderTheme}} ">
        <div id="header" class="col-md-12 text-center ">
          <h1 class="brand-title">The News Portal App </h1>
          

          <p class="brand-text">This page contain final project in Angular on FullStack .NET course in <a class="title2"
              href="https://www.int-college.co.il/"><u><b> iNT College.</b></u></a><br>
              Used API is from <u><a class="title2" href="https://newsapi.org/">newsapi.org</a></u>
            <br>Created by <a class="title2" href="main#contpage" title="Edward T."><u><b> Tchaevsky E.</b></u></a></p>
         
        </div>
      </div>
    </div>

    <div id="newsnav" class="menu mt-4">

      <div class="row ml-0 mr-0 pb-2 {{themes.appChildTheme}} {{themes.appBorderTheme}}">

        <div class="col-sx-11 col-sm-6 col-md-3 m-1">
          <label class="mr-sm-1" for="inlineFormCustomSelect"><b>Endpoints</b></label>
          <select #typS class="custom-select mr-sm-1" id="inlineFormCustomSelect" (click)="typS.value">
            <option selected value="top-headlines">top-headlines</option>
            <option value="everything">everything</option>
            <option value="sources">sources</option>
          </select>
        </div>

        <div class="col-sx-11 col-sm-5 col-md-3 m-1">
          <label class="mr-sm-1" for="inlineFormCustomSelect1"><b>Category</b></label>
          <select #categ class="custom-select mr-sm-1" id="inlineFormCustomSelect1"
            [disabled]="(this.typS.value==='sources')" [class.disabled]="(this.typS.value==='sources')"
            [disabled]="(this.typS.value==='everything')" [class.disabled]="(this.typS.value==='everything')"
            >
            <option selected value=''>Choose...</option>
            <option *ngFor="let cat of categories" value={{cat}}>{{cat}}</option>
          </select>
        </div>

        <div class="col-sx-11 col-sm-5 col-md-3 m-1">
          <label class="mr-sm-1" for="inlineFormCustomSelect3"><b>Language</b></label>
          <select #lng class="custom-select mr-sm-1" id="inlineFormCustomSelect3"
          [disabled]="(this.typS.value==='top-headlines')" [class.disabled]="(this.typS.value==='top-headlines')"
          >
            <option *ngFor="let lang of languages" value={{lang}}>{{lang}}</option>
            <option selected value=''>Choose...</option>
          </select>
        </div>

        <div class="col-sx-11 col-sm-5 col-md-3 m-1">
          <label class="mr-sm-1" for="inlineFormCustomSelect2"><b>Country</b></label>
          <select #cntr class="custom-select mr-sm-1" id="inlineFormCustomSelect2"
          [disabled]="(this.typS.value==='everything')" [class.disabled]="(this.typS.value==='everything')"
          >
            <option *ngFor="let country of countries" value={{country.code}}>
              {{country.code}}&emsp;{{country.countryName}}</option>
            <option selected value=''>Choose...</option>
          </select>
        </div>

        <div class="col-sx-11 col-sm-5 col-md-3 m-1">
          <label class="mr-sm-1" for="inlineFormCustomSelect5"><b>Sort by ...</b></label>
          <select #sortBy class="custom-select mr-sm-1" id="inlineFormCustomSelect5"
          [disabled]="(this.typS.value==='sources')" [class.disabled]="(this.typS.value==='sources')"
          >
            <option selected value="publishedAT">recent publications</option>
            <option value="popularity">popularity</option>
            <option value="relevancy">relevancy</option>
          </select>
        </div>

        <div class="col-sx-11 col-sm-5 col-md-3 m-1">
          <label class="mr-sm-1" for="inlineFormCustomSelect4"><b>Search by word : </b></label>
          <input #word id="inlineFormCustomSelect4" class="custom-search mr-sm-1" type="search" placeholder="Search"
            aria-label="Search" [disabled]="(this.typS.value==='sources')"
            [class.disabled]="(this.typS.value==='sources')">
        </div>

      </div>


    </div> 

    <div id="lastline" class="row ml-0 mt-2 mr-0 mb-2 justify-content-center">
      <div  class="col-6 text-center">
         <button id="btnSearch" type="button" class="btn btn-primary text-center btn-lg p-1"
        (click)="buildURL(this.typS.value,this.categ.value,this.cntr.value,this.lng.value,this.word.value,this.sortBy.value)"
        >Show News</button></div>
        

      <div class="col-6 text-dark">
        <p><i class="fas fa-list-ol"></i> Total results :
          <span style="color:red">{{this.getAPIdetails.totalResults}} </span>
        </p></div>
        
      </div>
  </div><!-- "#05e4ff" -->

  <ngx-spinner bdColor = "rgba(0, 0, 0, 0.8)" size = "large" color = "gold" type = "ball-spin-clockwise-fade-rotating" [fullScreen] = "false"><p style="color: rgb(255, 251, 0)" > Loading ... </p></ngx-spinner>