  <div class="conteinernews">
    <div id="mainp" class="mainNews ">
      <div class="row m-0 justify-content-center text-dark">
        <div id="header" class="col-md-12 text-center">
          <h1 class="brand-title">The News Portal App </h1>
          <small>from <u><a href="newsapi.org">newsapi.org</a></u></small>

          <p class="brand-text">This page contain final project in Angular on FullStack .NET course in <a
              href="https://www.int-college.co.il/"><u><b> iNT College.</b></u></a>
            <br>Created by<a href="http://linkedin.com/in/edwardtchaevsky" title="Edward T. LinkedIn page"><u><b>EDWARD
                  T.</b></u></a></p>
          <hr>
        </div>
      </div>
    </div>

    <div id="newsnav" class="menu">

      <div class="row">

        <div class="col-sx-11 col-sm-6 col-md-3 m-1">
          <label class="mr-sm-1" for="inlineFormCustomSelect"><b>Source type</b></label>
          <select #typS class="custom-select mr-sm-1" id="inlineFormCustomSelect" (click)="typS.value">
            <option selected value="top-headlines">top-headlines</option>
            <option value="everything">everything</option>
            <option value="sources">sources</option>
          </select>
        </div>

        <div class="col-sx-11 col-sm-5 col-md-3 m-1">
          <label class="mr-sm-1" for="inlineFormCustomSelect1"><b>Category</b></label>
          <select #categ class="custom-select mr-sm-1" id="inlineFormCustomSelect1"
            [disabled]="(this.typS.value==='sources')" [class.disabled]="(this.typS.value==='sources')">
            <option selected value=''>Choose...</option>
            <option *ngFor="let cat of categories" value={{cat}}>{{cat}}</option>
          </select>
        </div>

        <div class="col-sx-11 col-sm-5 col-md-3 m-1">
          <label class="mr-sm-1" for="inlineFormCustomSelect3"><b>Language</b></label>
          <select #lng class="custom-select mr-sm-1" id="inlineFormCustomSelect3">
            <option *ngFor="let lang of languages" value={{lang}}>{{lang}}</option>
            <option selected value=''>Choose...</option>
          </select>
        </div>

        <div class="col-sx-11 col-sm-5 col-md-3 m-1">
          <label class="mr-sm-1" for="inlineFormCustomSelect2"><b>Country</b></label>
          <select #cntr class="custom-select mr-sm-1" id="inlineFormCustomSelect2">
            <option *ngFor="let country of countries" value={{country.code}}>
              {{country.code}}&emsp;{{country.countryName}}</option>
            <option selected value=''>Choose...</option>
          </select>
        </div>

        <div class="col-sx-11 col-sm-5 col-md-3 m-1">
          <label class="mr-sm-1" for="inlineFormCustomSelect5"><b>Sort by ...</b></label>
          <select #sortBy class="custom-select mr-sm-1" id="inlineFormCustomSelect5">
            <option selected value="publishedAT">publishedAT</option>
            <option value="popularity">popularity</option>
            <option value="relevancy">relevancy</option>
          </select>
        </div>

        <div class="col-sx-11 col-sm-5 col-md-3 m-1">
          <label class="mr-sm-1" for="inlineFormCustomSelect4"><b>Search by word : </b></label>
          <input #word id="inlineFormCustomSelect4" class="custom-search mr-sm-1" type="search" placeholder="Search"
            aria-label="Search" [disabled]="(this.typS.value==='sources')"
            [class.disabled]="(this.typS.value==='sources')">
        </div>

      </div>


    </div> 

    <div id="lastline" class="row justify-content-center">
      <div  class="col-6 text-center">
         <button id="btnSearch" type="button" class="btn btn-primary text-center btn-lg p-1"
        (click)="buildURL(this.typS.value,this.categ.value,this.cntr.value,this.lng.value,this.word.value,this.sortBy.value)"
        >Show News</button></div>
        

      <div class="col-6">
        <small><i class="fas fa-list-ol"></i> Total results :
          <span style="color:red">{{this.getAPIdetails.totalResults}} </span>
        </small></div>
        
      </div>
  </div>
