.container{
    height: 100vh;
}
.loginbox{
    box-shadow: 5px 5px 5px 5px rgb(158, 155, 155);
    border-radius: 10px;
   -webkit-animation: fadein 2s; /* Safari, Chrome and Opera > 12.1 */
-moz-animation: fadein 2s; /* Firefox < 16 */
 -ms-animation: fadein 2s; /* Internet Explorer */
  -o-animation: fadein 2s; /* Opera < 12.1 */
     animation: fadein 2s;
}
i{
 
    width: 30px;
    padding: 3px 0 3px 0;
    margin-right: 10px;
 
}

.box{
     margin-top: 15%;
}
h1{
  text-shadow: 0 0 6px gold;
}
      





@keyframes fadein {
  from { opacity: 0; }
  to   { opacity: 1; }
}

/* Firefox < 16 */
@-moz-keyframes fadein {
  from { opacity: 0; }
  to   { opacity: 1; }
}

/* Safari, Chrome and Opera > 12.1 */
@-webkit-keyframes fadein {
  from { opacity: 0; }
  to   { opacity: 1; }
}

/* Internet Explorer */
@-ms-keyframes fadein {
  from { opacity: 0; }
  to   { opacity: 1; }
}