<div class="mainNews text-dark">
    <div class="row justify-content-center">
      <div id="header" class="col-md-12 text-center">
        <h1 class="brand-heading ">Final Angular Project</h1>
        <hr>
        <p class="brand-text">This page contain final project in Angular on FullStack .NET course in <a
            href="https://www.int-college.co.il/"><u><b> iNT College.</b></u></a>
          <br>Created by<a href="http://linkedin.com/in/edwardtchaevsky"
            title="Edward T. LinkedIn page"><u><b>EDWARD T.</b></u></a></p>
      </div>

<!-- routerLink='/news-nav' -->
<!--       <a id="arrowToNews" href="#news-nav"
        class="btn btn-down  justify-content-center page-scroll animated text-light" title="go to news">
        <i class="far fa-arrow-alt-circle-down" size:3x></i>
      </a> -->
    </div>
</div>
<app-news-navigator></app-news-navigator>
 <app-news></app-news>
<!--   
id: this.fromGet.articles.source.id,  --ok
name: this.fromGet.articles.source.name, --ok
author: this.fromGet.articles.author,  -- ok 
title: this.fromGet.articles.title, -- ok
description: this.fromGet.articles.description,  -- ok
url: this.fromGet.articles.url,  -- ok
urlToImage: this.fromGet.articles.urlToImage, -- ok
publishedAt: this.fromGet.articles.publishedAt,  -- ok
content: this.fromGet.articles.content  --ok -->