<div class="contr text-dark">
  <div class="row justify-content-center m-0">
    <div id="welcome" class="card col-12" >
      <!-- style="width: 35rem";-->
      <div class="card-body text-center">
        <h5 class="card-title">WELCOME QUEST</h5>
        <p class="card-text">The page contain <a href="https://newsapi.org/"><b>newsapi.org</b></a> details .</p>
        <p> For to use this application , please <b><a [routerLink]="['/logIn']"> LogIn.</a></b></p>

      </div>
    </div>
  </div>
</div>
