<div class="conteiner text-dark">
    <div class="row justify-content-center">
<div id="welcome" class="card " style="width: 35rem;">
    <!-- <img class="card-img-top" src="/my-projects/weather-login/assets/screenshot.JPG" alt="Card image cap"> -->
    <div class="card-body text-center">
      <h5 class="card-title">WELCOME QUEST</h5>
      <p class="card-text">The page contain <a href="newsapi.org"><b>newsapi.org</b></a>  details .</p>
          <p> For to use this application , please <b>Login</b> .</p>
      
    </div>
  </div>
</div>
</div>