
  <div id="news" class="card-columns {{themes.appTheme}} p-4"  *ngIf="this.getAPI.sourceType"><!--   -->
 
    <div class="new card card-cascade m-1" *ngFor="let artnew of this.getAPI.articlesArr, let i=index">

      <!-- Card image -->
      <div  class="view view-cascade overlay {{themes.appChildTheme}}">
 
        <img *ngIf="artnew.urlToImage" class="card-img-top"  src={{artnew.urlToImage}} >
        <a>
          <div class="mask rgba-white-slight"></div>
        </a>
      </div>
      <!-- Card content -->
      <div class="card-body card-body-cascade text-center {{themes.appTheme}}">
        <!-- Title -->
        <h4 class="card-title"><strong>{{artnew.title}}</strong></h4>
        <h4 class="card-title">{{artnew.author}}</h4>
        <h4 class="card-title"><a href="{{artnew.url}}">{{artnew.name}}</a></h4>
        <!-- Subtitle -->
        <h6 class="font-weight-bold indigo-text py-2">{{artnew.id}}</h6>
        <!-- Text -->
        <p class="card-text">{{artnew.description}}</p>
      </div>
      <!-- Card footer -->
      <div class="card-footer text-center  {{themes.appChildTheme}}">
        {{artnew.publishedAt | date:'d MMMM, y HH:mm'}}
      </div>
    </div>
  </div>

  <!-- FOR SOURCES type results -->
  <div #news id="news2" class="card-columns  m-1 {{themes.appTheme}}" *ngIf='!this.getAPI.sourceType'>

    <div class="news card card-cascade  {{themes.appChildTheme}}" *ngFor="let srcnew of this.getAPI.sourcesArr, let i=index">
      <!-- Card content -->
      <div class="card-body card-body-cascade text-center ">
        <!-- Title -->
        <h4 class="card-title"><a href="{{srcnew.url}}">{{srcnew.name}}</a></h4>
        <!-- Subtitle -->
        <h6 class="font-weight-bold indigo-text py-2">category : {{srcnew.category}}</h6>
        <!-- Text -->
        <p class="card-text">{{srcnew.description}}</p>
      </div>
      <!-- Card footer -->
      <div class="card-footer text-muted text-center  {{themes.appTheme}}">
        {{srcnew.language}}
        <img class="card-img-bottom" src={{srcnew.img_flag}} alt="Card image cap">
        {{srcnew.country}}
      </div>
    </div>
  </div>

