#news{
    background-image: linear-gradient(rgba(100, 100, 100, 0.5), rgba(255, 255, 255, 0.5)), url("src/assets/news2.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
.new{
    width: 100%;
    box-shadow: 2px 2px 3px 3px grey;
    margin: 15px;
    justify-content: center;
    -webkit-animation: fadein 2s; /* Safari, Chrome and Opera > 12.1 */
    -moz-animation: fadein 2s; /* Firefox < 16 */
     -ms-animation: fadein 2s; /* Internet Explorer */
      -o-animation: fadein 2s; /* Opera < 12.1 */
         animation: fadein 2s;
}
.new:hover{
    box-shadow: 0 0 3px 3px rgba(255, 238, 0, 0.808);
    transition: 0.6s;
}
.card-img-bottom{
    width: auto;
}
.card-title>a:hover{
    text-shadow: 0 0 12px rgb(255, 251, 0);
    transition: 0.4s;
    color: rgb(57, 57, 236);
}
.card-title>a{
    transition: 0.4s;
    text-shadow: 0 0 12px rgb(0, 0, 0);
    color: rgb(255, 251, 0);
}

 /*  // Small devices (landscape phones, 576px and up) */
  @media (min-width: 576px) and (max-width: 767.98px) {   
        .card-columns {
    column-count: 1;
  }
};
  /* // Medium devices (tablets, 768px and up) */
  @media (min-width: 768px) and (max-width: 991.98px) {   
       .card-columns {
    column-count: 2;
  }}
  
  /* // Large devices (desktops, 992px and up) */
  @media (min-width: 992px) and (max-width: 1199.98px) {    
       .card-columns {
    column-count: 3;
  } }
  
/*   // Extra large devices (large desktops, 1200px and up) */
  @media (min-width: 1200px) {   
         .card-columns {
    column-count: 4;
  }}