<div class="main">
  <div class="logbtns">
    <button  class="logbtn btn btn-outline-warning" (click)="logOut()"
     *ngIf="this.usersrv.Logined">LogOut</button>
    <button  class="logbtn btn btn-success" (click)="logIn()"
    *ngIf="!this.usersrv.Logined">LogIn</button>
  </div>

  <router-outlet></router-outlet>



</div>
<a id="arrowToStart" href="main#mainp" class="btn btn-up justify-content-center page-scroll animated "
  title="go to start">
  <i class="far fa-arrow-alt-circle-up" size:3x></i>
</a>
