<nav id="navbarmenu" class="navbar navbar-dark  {{myTheme}} justify-content-start">
  <!--  bg-dark -->
  <button class="navbar-toggler {{myTheme}} btn-sm" type="button" (click)="this.showThebar=!this.showThebar">
    <i class="fas fa-bars"></i>
    <!--     <span class="navbar-toggler-icon"></span> -->
  </button>
  <h1 id="logo" class="navbar-brand {{myTheme}} ml-3"><i class="fas fa-dragon"></i><b> Final Angular project</b></h1>
  <span id="username" class="navbar-text {{myTheme}} ml-4"><small>Current user :
    </small>{{this.usersrv.curentUser}}</span>
</nav>

<div id="navmenu" class="navmenu {{themes.appBorderTheme}} rounded-right {{myTheme}}" [class.show]="this.showThebar"
  [class.hide]="!this.showThebar">
  <div class="p-1">
    <ul class="navbar-nav ml-1 list-unstyled {{myTheme}}">
      <li class="nav-item active">
        <a class="btn m-2 {{myTheme}}" href="main#mainp"><i class="fas fa-home"></i> Home
          <span class="sr-only">(current)</span>
        </a>
      </li>
      <li class="nav-item">
        <a class="btn m-2 {{myTheme}}" href="main#newsnav"><i class="fas fa-rss"></i> News</a>
      </li>
      <li class="nav-item">
        <a class="btn m-2 {{myTheme}}" href="main#about"><i class="fas fa-users"></i> Info</a>
      </li>
      <li class="nav-item">
        <a class="btn m-2 {{myTheme}}" href="main#contpage"><i class="far fa-address-card"></i> Me</a>
      </li>


      <ul class="nav-item justify-content-start list-unstyled {{myTheme}}">
        <!--  appBgThemes [bgColor]="myColor" -->
        <li>
          <span>- - - - - - - - - - </span><br>
         
         <span><i class="fab fa-bootstrap size:2x"></i> themes :</span>
        </li>
  
        <li>
          <input type="radio" name="colors" checked (click)="myTheme=themes.changeTheme('dark')" /> Dark
        </li>
        <li>
          <input type="radio" name="colors" (click)="myTheme=themes.changeTheme('grey')" /> Grey
        </li>
        <li>
          <input type="radio" name="colors" (click)="myTheme=themes.changeTheme('info')" /> Info
        </li>
        <li>
          <input type="radio" name="colors" (click)="myTheme=themes.changeTheme('light')" /> Light
        </li>
      </ul>
    </ul>
  </div>
